extends layoutBSBrandeis

block head
  script(src="/javascripts/BrandeisClassSearch.js")

block content
  .jumbotron#classSearch
    p1 Brandeis Class Search
    p &nbsp
    form(method='post')
      .form-row.align-items-center
        .col-auto.my-1
          label Select a Term
          select(name='termBar')#searchBar.term-bar.custom-select.mr-sm-2
            each term in term_list
              option(value= term.id) #{term.name}

        .col-auto.my-1
          label Select a Subject
          select(name='subjectBar')#searchBar.sub-bar.custom-select.mr-sm-2
            each subject in subject_list
              option(value= subject.id.substring(subject.id.indexOf("-") + 1)) #{subject.name}


      p &nbsp
      button.btn.btn-primary(type='submit') Search

  if course_list
      p List of All course
      table#mytable.table.table-bordered.table-hover
        thead.thead-light
          tr
            th#host-1
              | Course Code
              span(style='display: none') some hidden data form host 1
            th#host-2
              | Course Title
              span(style='display: none') some hidden data form host 2
            th#host-3
              | Course Requirement
              span(style='display: none') some hidden data form host 3
            th#host-4
              | Independent Study
              span(style='display: none') some hidden data form host 4

        tbody
          each course in course_list
            tr.course_box(course_description=course.description, course_title=course.name, course_code=course.id)
              td
                p #{course.code}
              td
                p #{course.name}
              td
                p #{course.requirements}
              td
                p #{course.independent_study}


  // Modal
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    #exampleModalDialog.modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Class Information
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body

          p
            b Title
          p.course-title <>

          p
            b Description
          p.course-description <>

          hr

          p
            b Section Information

          table#sectiontable.table.table-bordered.table-hover
            thead.thead-light
              tr
                th
                  | Total Sections
                th
                  | Instructors
                th
                  | Status
                th
                  | Limit
                th
                  | Enrolled
                th
                  | Waiting
                th
                  | Schedule
                th
                  |Location
            tbody
              tr
                td
                  p.course-section Loading...
                td
                  p.course-instructors Loading...
                td
                  p.course-status Loading...
                td
                  p.course-limit Loading ...
                td
                  p.course-enrolled Loading...
                td
                  p.course-waiting Loading...
                td
                  p.course-date Loading...
                  p.course-start Loading...
                  p.course-end Loading...
                td
                  p
                    b Building:
                  p.course-building Loading...
                  p
                    b Room:
                  p.course-room Loading...

        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Add to My Schedule
