extends layoutBSBrandeis

block content
  doctype html
  html

  - function processTime(time){var final_time;if(time % 60 == 0){final_time=Math.floor(time / 60) + ": 00"}else if(time % 60 !== 0){final_time = Math.floor(time / 60) + ": " + (time % 60)}else if(time == false){final_time = "TBD"}return final_time;}
  - const course_event_map = {}
  - var event_index = 1;
  - function getEvent(section){const id = section.course.id;if(course_event_map[id]){return course_event_map[id]} else {course_event_map[id] = "event-"+event_index; event_index++; return course_event_map[id]} }

    hr
    p
      h20 Your Classes List:
    hr

    if list
      table#sectionSchedule.table.table-bordered
        thead.thead-light
          tr.confirm
            th
              | Class Code
            th
              | Enrollment Code
            th
              | Instructors
            th
              | Status
            th
              | Limit
            th
              | Enrolled
            th
              | Waiting
            th
              | Schedule
            th
              | Location
            th
              | Delete

        tbody.section-form
          each section in list
            tr.checkTable(section_id=section._id)
              td
                p.course-code #{section.course.code}
              td
                p.section-id #{section.id.substring(section.id.indexOf("-")+1)}
              td
                each instructor in section.instructors
                  p.section-ins-first #{instructor.first} #{instructor.last}
              td
                p.section-status #{section.status}
              td
                p.section-limit #{section.limit}
              td
                p.section-enrolled #{section.enrolled}
              td
                p.section-waiting #{section.waiting}
              td
                each day in section.times
                  p.section-days #{day.days}
                  p.section-start #{processTime(day.start)} - #{processTime(day.end)}
              td
                each day in section.times
                  if day.building
                    p.section-location #{day.building}
                    p.section-room #{day.room}
                  else
                    p TBD
              td
                button.btn.btn-primary(type='submit' href='/BrandeisClassSchedule') Delete



    p &nbsp
    hr
    h20 Your Class Schedule:
    hr

    if list
      .container
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        .cd-schedule.loading
          .timeline
            ul
              li
                span 07:30
              li
                span 08:00
              li
                span 08:30
              li
                span 09:00
              li
                span 09:30
              li
                span 10:00
              li
                span 10:30
              li
                span 11:00
              li
                span 11:30
              li
                span 12:00
              li
                span 12:30
              li
                span 13:00
              li
                span 13:30
              li
                span 14:00
              li
                span 14:30
              li
                span 15:00
              li
                span 15:30
              li
                span 16:00
              li
                span 16:30
              li
                span 17:00
              li
                span 17:30
              li
                span 18:00
              li
                span 18:30
              li
                span 19:00
              li
                span 19:30
              li
                span 20:00
              li
                span 20:30
              li
                span 21:00
              li
                span 21:30
              li
                span 22:00
          .events
            ul
              li.events-group
                .top-info
                  span Monday
                ul
                  each section in list
                    each day in section.times
                      each date in day.days
                        if date == 'm'
                          li.single-event(data-start= processTime(day.start), data-end= processTime(day.end), data-content= section.course.description, data-event= getEvent(section))
                            a
                              em.event-name #{section.course.code}
                              em.event-code #{section.id.substring(section.id.indexOf("-")+1)}

              li.events-group
                .top-info
                  span Tuesday
                ul
                  each section in list
                    each day in section.times
                      each date in day.days
                        if date == 'tu'
                          li.single-event(data-start= processTime(day.start), data-end= processTime(day.end), data-content= section.course.description, data-event= getEvent(section))
                            a
                              em.event-name #{section.course.code}
                              em.event-code #{section.id.substring(section.id.indexOf("-")+1)}


              li.events-group
                .top-info
                  span Wednesday
                ul
                  each section in list
                    each day in section.times
                      each date in day.days
                        if date == 'w'
                          li.single-event(data-start= processTime(day.start), data-end= processTime(day.end), data-content= section.course.description, data-event= getEvent(section))
                            a
                              em.event-name #{section.course.code}
                              em.event-code #{section.id.substring(section.id.indexOf("-")+1)}


              li.events-group
                .top-info
                  span Thursday
                ul
                  each section in list
                    each day in section.times
                      each date in day.days
                        if date == 'th'
                          li.single-event(data-start= processTime(day.start), data-end= processTime(day.end), em.event-info= section.course.description, data-event= getEvent(section))
                            a
                              em.event-name #{section.course.code}
                              em.event-code #{section.id.substring(section.id.indexOf("-")+1)}


              li.events-group
                .top-info
                  span Friday
                ul
                  each section in list
                    each day in section.times
                      each date in day.days
                        if date == 'f'
                          li.single-event(data-start= processTime(day.start), data-end= processTime(day.end), em.event-info= section.course.description, data-event= getEvent(section))
                            a
                              em.event-name #{section.course.code}
                              em.event-code #{section.id.substring(section.id.indexOf("-")+1)}

          .event-modal
            header.header
              .content
                span.event-date
                h3.event-name
                h1.event-code
              .header-bg
            .body
              .event-info
              .body-bg
          .cover-layer
  // .cd-schedule
  script(src='/javascripts/modernizr.js')
  script(src='/javascripts/BrandeisClassDelete.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
  script.
    if( !window.jQuery ) document.write('<script src="javascripts/jquery-3.0.0.min.js"><\\/script>');
  script(src='/javascripts/schedule.js')
  // Resource jQuery
