extends layoutBSBrandeis

block content
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="/javascripts/modalReload.js")
  .jumbotron#addposts



  .flex-container
    each p in posts
      div
            img(width="100%" src='http://www.macross2.net/m3/moremecha/swordfishii/swordfishii.gif' alt='Card image cap')
            hp.pliB #{p.pname}
            ul.list-group.list-group-flush
              li.pli.list-group-item Type: #{p.porigin}
              li.pli.list-group-item $#{p.pprice}
              //- a.btn.btn-primary(href='#') Delete
                //- form(method="post" action="deletePosts")
                //-   each p in posts
                //-         input(name="deleteName" value=posts.name)
                //-         e #{posts.name} --
                //-         i #{posts.description}
              input(type='submit' value="Delete").btn.btn-primary
              button.btn.btn-primary.detail-button(title=p.pname)
                | Details

  #exampleModalLong.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title #{"<p.name>"}
          button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-body
            h5 Description
            | #{"<p.des>"}
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close  
        
              