extends layoutBSBrandeis

block content
  .jumbotron#BrandeisClassSearch
 


  .flex-container
    each p in posts
      div
            img(width="100%" src='http://www.macross2.net/m3/moremecha/swordfishii/swordfishii.gif' alt='Card image cap')
            hp #{p.pname}
            ul.list-group.list-group-flush
              li.pli.list-group-item Type: #{p.porigin} 
              li.pli.list-group-item $#{p.pprice}
              if status=='admin'
                //- a.btn.btn-primary(href='#') Delete
                //- form(method="post" action="deletePosts")
                //-   each p in posts
                //-         input(name="deleteName" value=posts.name)
                //-         e #{posts.name} --
                //-         i #{posts.description}
                input(type='submit' value="Delete").btn.btn-primary

              a.btn.btn-primary(href="/posts/details/"+p._id) Details
