extends layoutBSBrandeis

block content
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="/javascripts/modalReload.js")
  .jumbotron#addposts

  form(method='post')
    .form-group
        label(for='pname') Type
        select(name='porigin')#pname.form-control
            option(selected= "Apparel / Clothing" == postType) Apparel / Clothing
            option(selected= "Art / Office Supplies" == postType) Art / Office Supplies
            option(selected= "Computer Products" == postType) Computer Products
            option(selected= "Electronics gadgets" == postType) Electronics gadgets
            option(selected= "Furniture" == postType) Furniture
            option(selected= "Household gadgets" == postType) Household gadgets
            option(selected= "Health / Beauty" == postType) Health / Beauty
            option(selected= "PlayStation/ Xbox Games" == postType) PlayStation/ Xbox Games
            option(selected= "Sublight spaceships" == postType) Sublight spaceships
    button.btn.btn-primary(type='submit') Search

  if posts
    .flex-container
      each p in posts
        div
          img(width="100%" src='http://www.macross2.net/m3/moremecha/swordfishii/swordfishii.gif' alt='Card image cap')
          hp.pliB #{p.pname}
          ul.list-group.list-group-flush
            li.pli.list-group-item Type: #{p.porigin}
            li.pli.list-group-item $#{p.pprice}
            button.btn.btn-primary.detail-button(title= p.pname body= p.pdes contact= p.pcon)
              | Details
        

    #exampleModalLong.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#exampleModalLongTitle.modal-title #{"<p.name>"}
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          .hm.modal-body1
              h5 Description:
              p.body1 #{"<p.des>"}
          .hm.modal-body2
              h5 Contact:
              p.body2 #{"<p.con>"}
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
